img
{
    height: 20rem;
    border-radius: 2px;
    
}
/* .container
{
  margin: 16px;
  display: flex;
  align-items: flex-start;
  
  
} */

.inside
{
  width: 50%;
  padding: 13px;
}